.welcome-page {
  background-image: url('img/pokerchips.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Baloo Bhaijaan', cursive;
}

.play-page {
  background-image: url('img/blackjack-img.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Baloo Bhaijaan', cursive;
}

.play-page-jack {
  background-image: url('img/jack-black.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.play-page-beach {
  background-image: url('img/beach-img.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Baloo Bhaijaan', cursive;
}

.play-page-space {
  background-image: url('img/space-play.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Baloo Bhaijaan', cursive;
}

.contact-page {
  background-image: url('img/contact-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Baloo Bhaijaan', cursive;
}

.heart {
  color: maroon;
}

.main-text {
  color: white;
  font-size: 45pt;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 900px;
  border-radius: 10pt;
}

.main-text-contact {
  color: white;
  font-size: 25pt;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 900px;
  border-radius: 10pt;
}

.play-button {
  background-color: maroon;
  text-align: center;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 5px;
}

.button-wrapper {
  text-align: center;
  padding-top: 15px;
}

footer.page-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  padding-left: 10px;
  padding-top: 0;
  padding-right: 10px;
  border-top: solid 2px white;
  text-align: left;
  padding-bottom: 10px;
}

footer.page-footer-play {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  padding-left: 10px;
  padding-top: 0;
  padding-right: 10px;
  border-top: solid 2px white;
  text-align: left;
  padding-bottom: 10px;
}

footer.page-footer-jack {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: red;
  padding-left: 10px;
  padding-top: 0;
  padding-right: 10px;
  border-top: solid 2px black;
  text-align: left;
  padding-bottom: 10px;
}

footer.page-footer-beach {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: teal;
  padding-left: 10px;
  padding-top: 0;
  padding-right: 10px;
  border-top: solid 2px black;
  text-align: left;
  padding-bottom: 10px;
}

footer.page-footer-space {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  padding-left: 10px;
  padding-top: 0;
  padding-right: 10px;
  border-top: solid 2px white;
  text-align: left;
  padding-bottom: 10px;
}

.nav-wrapper {
  background-color: black;
  border-bottom: solid 2pt white;
}

.nav-wrapper-play {
  background-color: black;
  border-bottom: solid 2px white;
}

.nav-wrapper-jack {
  background-color: red;
  border-bottom: solid 2pt black;
}

.nav-wrapper-beach {
  background-color: teal;
  border-bottom: solid 2px black;
}

.nav-wrapper-space {
  background-color: black;
  border-bottom: solid 2px white;
}

.text-wrapper {
  padding-top: 150px;
}

.text-wrapper-contact {
  padding-top: 50px;
}

.theme-btn {
  margin-bottom: 70px;
}

i.large.material-icons {
  background-color: maroon;
}

.tagline {
  font-size: 7pt;
  text-align: left;
}

.option-wrapper {
  text-align: center;
}

.option-button {
  background-color: maroon;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 10pt;
  border-radius: 50pt;
  font-family: 'Frijole', cursive;
  border: solid 1pt black;
}

.option-button-beach {
  background-color: yellow;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 10pt;
  border-radius: 50pt;
  font-family: 'Frijole', cursive;
  border: solid 1pt black;
  color: black;
}

.option-button-jack {
  background-color: red;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 10pt;
  border-radius: 50pt;
  font-family: 'Frijole', cursive;
  border: solid 1pt black;
  color: black;
}

.option-button-space {
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 10pt;
  border-radius: 50pt;
  font-family: 'Frijole', cursive;
  border: solid 1pt white;
  color: white;
}

h1 {
  font-size: 30pt;
  color: black;
  margin-left: 10px;
  font-family: 'Walter Turncoat', cursive;
  padding-top: 0;
  width: 149px;
  background-color: green;
  border: solid 2pt black;
  border-radius: 7px;
}

h2 {
  font-size: 30pt;
  color: black;
  margin-left: 10px;
  font-family: 'Walter Turncoat', cursive;
  width: 82px;
  background-color: green;
  border-radius: 7px;
  border: solid 2pt black;
  padding-left: 5px;
}

.jack-hand {
  background-color: red;
}

.beach-hand {
  background-color: yellow;
}

.space-hand {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

img {
  height: 150pt;
  margin-right: 20px;
  margin-left: 20px;
}

form.col.s12 {
  width: 800px;
  margin-left: 310px;
  background-color: rgba(0, 0, 0, 1);
  margin-top: 30px;
  border-radius: 10px;
  color: white;
}

#email-part {
  margin-left: 0;
  width: 800px;
  background-color: rgba(0, 0, 0, 0);
}

.hiddendiv .common {
  display: none;
}

#_lpform_first_name {
  display: none;
}

#_lpform_first_name_icon {
  display: none;
}

.hahaha {
  width: 800px;
}

.row .col.s12.hehehe {
  width: 850px;
  margin-left: 300px;
  padding-top: 50px;
}

.submit-btn {
  background-color: maroon;
  text-align: center;
  

}
